.credit-container{
    height: 2vh;
    width: 100vw;
    display: flex;
    margin: 0px;
    justify-content: space-evenly;
}

.creditSpan{
    font-size: xx-small;
}


@media only screen and (max-width: 600px){
    .credit-container{
        display: none;
    }
}