html{
    scroll-behavior: smooth;
}

.sidebarContainer{
    height: 40vh;
    width: 3vw;
    position: fixed;
    right: 2vw;
    display: flex;
    flex-direction: column;
    top: 25vh;
    justify-content: space-around;
    border-radius: 20px;
    background-color: #00a6fb;
}

.sideIcon{
    text-align: center;
}


@media only screen and (max-width: 600px) {

    .sidebarContainer{
        display: none;
    }
}